@font-face {
  font-family: "Noto";
  src: url("../fonts/NotoSans/NotoSansCJKkr-Regular.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "Noto";
  src: url("../fonts/NotoSans/NotoSansCJKkr-Bold.otf") format("opentype");
  font-weight: bold;
}

*{
  padding: 0;
  margin: 0;
  letter-spacing: -1px;
  box-sizing: border-box;
  word-break: keep-all;
  font-family: "Noto";
}

.flex{display: flex;}
.col-flex{display: flex; flex-direction: column;}

.aic{align-items: center;}
.aifs{align-items: flex-start;}
.aife{align-items: flex-end;}

.jcc{justify-content: center;}
.jcsb{justify-content: space-between;}
.jcfs{justify-content: flex-start;}
.jcfe{justify-content: flex-end;}

.wrap{
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

a{
  color: #000;
  text-decoration: none;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn_box{
  display: flex;
  gap: .5rem;
}

.btn{
  padding: .5rem 1.1rem;
  background-color: #335ddd;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.btn_box.full,
.btn_box.full .btn{
  width: 100%;
}

/* 헤더 */

header{
  width: 100%;
  height: 70px;
  box-shadow: 0 0 1rem #0001;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #fff;
}

header .wrap{
  height: 100%;
}

header .logo_box,
header .utility{
  width: 300px;
}

.menu_nav{
  height: 40px;
}

.depth_box{
  position: relative;
  z-index: 10;
}

.sub_menu{
  position: absolute;
  top: 100%;
  z-index: -1;
  max-height: 0;
  overflow: hidden;
  transition: .2s;
  background-color: #fff;
  box-shadow: 0 0 3rem #0001;
}

.depth_box:hover .sub_menu{
  max-height: 120px;
}

.depth1, .depth2{
  height: 40px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  background-color: #fff;
  transition: .2s;
}

.depth1{
  font-size: 17px;
}

.depth_box:hover .depth1{
  background-color: #335ddd;
  color: #fff;
}

.depth2{
  height: 40px;
  padding: 0 25px;
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 100;
}

.depth2:hover{
  background-color: #4169e11f;
}

.depth2::before{
  content: "•";
  display: block;
  padding-right: 15px;
  padding-bottom: 5px;
  font-weight: 900;
}

/* 비주얼 */

.visual{
  width: 100%;
  height: 100vh;
  position: relative;
}

.visual .item{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}

.visual .item > div{
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 10;
}

.visual .item img{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  filter: brightness(.7);
}

.visual .item .text_box{
  width: 100%;
  padding-top: 70px;
  gap: 2rem;
}

.visual .item h1{
  font-size: 5rem;
  letter-spacing: -4px;
  line-height: 1.1;
  text-align: center;
  color: #fff;
}

.visual .item p {
  font-size: 16px;
  font-family: 'Microsoft Phangspa';
  font-weight: 100;
  color: #fff;
}

.visual .item:nth-child(1){ animation: visual_item1 9s infinite; z-index: 3;}
.visual .item:nth-child(2){ animation: visual_item1 9s infinite; z-index: 2; animation-delay: 3s;}
.visual .item:nth-child(3){ animation: visual_item1 9s infinite; z-index: 1; animation-delay: 6s;}

@keyframes visual_item1 {
  0%, 25%{opacity: 1;}
  33.33%, 92%{opacity: 0;}
  100%{opacity: 1;}
}
@keyframes visual_item2 {
  0%, 25%{opacity: 1;}
  33.33%, 100%{opacity: 0;}
}

.visual .state_btn{
  color: #fff;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  font-size: 1.5rem;
}

.visual input:checked + label i:nth-child(1),
.visual .state_btn i:nth-child(2){ 
  display: none; 
}

.visual input:checked + label i:nth-child(2){ display: flex; }
